# Dependencies
node_modules
node_modules/
**/**/node_modules
/.pnp
.pnp.js

# Package lock files
package-lock.json
yarn.lock

# Testing
/coverage

# Production builds
/build
/dist
**/dist
**/build

# Environment files
**/.env
.env.local
.env.*.local
.env

# IDE files
.vscode/
**/.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
*.iml

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/backend/authentication-service/error-logfile.log
/backend/authentication-service/logfile.log

# Python/Flask
**/venv
**/**/venv
__pycache__/
*.py[cod]
*.so

# Spring Boot
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd
**/application.properties
/backend/lecturer-service/.mvn
target/

# System Files
.DS_Store
Thumbs.db

# Project specific
**/.drawio
*.drawio


# Misc
*.local
.env.development.local
.env.test.local
.env.production.local

/backend/storage-service/key.json

# Application properties with sensitive data
**/application-dev.properties
**/application-prod.properties
**/application.properties

# Build files
build/
out/
*.class
