/* Font Family Import */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
/* Global Style */
html,
body,
#root {
  background: url("./assets/commonbg.jpg") no-repeat center center fixed;
  height: 100%;
  width: 100%;
  font-family: "Source Sans 3", sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(45deg, #f3f3f3, #e0e0e0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  border-radius: 10px;
  border: 3px solid #f3f3f3;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #4e0ec8, #1e5edc);
}
